{% extends "base.html" %}

{% block content %}
<style>
  ul#answer1,ul#answer2,ul#answer1,ul#answer3,ul#answer4,ul#answer5,ul#answer6 {
    display: flex;
    gap: 8%;
}

.icones {
    display: flex;
    gap: 8%;
}
</style>
<section class="main">
  <h1>{{ question }}</h1>
  <form method="POST" action="{{ url_for('main.quiz') }}">
    {{ form.csrf_token }}

    <div class="question">
      <p>Questão 1</p>
      <div class="options">
        <div class="option">
          {{ form.answer1.label }}
          <br>
          <div class="icones">
            <img src="{{ url_for('static', filename='/images/vasco.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/fluminense.png') }}" width="80" height="80">
          </div>
          {{ form.answer1 }}
        </div>

        <div class="option">
          {{ form.answer2.label }}
          <br>
          <div class="icones">
            <img src="{{ url_for('static', filename='/images/vasco.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/fluminense.png') }}" width="80" height="80">
          </div>
          {{ form.answer2 }}
        </div>

        <div class="option">
          {{ form.answer3.label }}
          <br>
          <div class="icones">
            <img src="{{ url_for('static', filename='/images/vasco.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/fluminense.png') }}" width="80" height="80">
          </div>
          {{ form.answer3 }}
        </div>
      </div>
    </div>

    <div class="question">
      <p>Questão 2</p>
      <div class="options">
        <div class="option">
          {{ form.answer4.label }}
          <br>
          <div class="icones">
            <img src="{{ url_for('static', filename='/images/vasco.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/fluminense.png') }}" width="80" height="80">
          </div>
          {{ form.answer4 }}
        </div>

        <div class="option">
          {{ form.answer5.label }}
          <br>
          <div class="icones">
            <img src="{{ url_for('static', filename='/images/vasco.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/fluminense.png') }}" width="80" height="80">
          </div>
          {{ form.answer5 }}
        </div>

        <div class="option">
          {{ form.answer6.label }}
          <br>
          <div class="icones">
            <img src="{{ url_for('static', filename='/images/vasco.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
            <img src="{{ url_for('static', filename='/images/fluminense.png') }}" width="80" height="80">
          </div>
          {{ form.answer6 }}
        </div>
      </div>
    </div>

    <button type="submit">Enviar respostas</button>
  </form>
</section>
{% endblock %}