{% extends "base.html" %}

{% block content %}
<style>
  body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191c29;
}
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
  }

  .question {
    background-color: #f5f5f5;
    /* cor de fundo do card */
    border-radius: 8px;
    /* arredondar bordas do card */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* sombra leve do card */
    padding: 20px;
    margin-bottom: 20px;
  }

  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icones,
  ul#answer1,
  ul#answer2,
  ul#answer3,
  ul#answer4,
  ul#answer5,
  ul#answer6,
  ul#answer7,
  ul#answer8,
  ul#answer9,
  ul#answer10 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    gap: 20%;
    margin-top: 15px;
  }

  li {
    list-style: none;
  }

  form {
    width: 80%;
  }

  /* Estilize o botão de envio de acordo com a sua preferência */
  .bt-submit {
    display: grid;
    margin-bottom: 54px;
  }

  button[type="submit"] {
    display: grid;
    margin-bottom: 54px;
    background-color: orange;
    /* Cor de fundo laranja */
    border-color: black;
    color:black;
    /* Cor da borda preta */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 700;
    height: 58px;
    font-size: 27px;
  }
  .bt-submit:hover{
    transform: scale(1.2);
    color: white;
  }

  .container-fluid {
    width: 50%;
    display: flex;
  }

  .titulo {
    margin: 40px 0;
    font-weight: bold;
    text-align: center;
    color:orange;
  }

  .subtitulo {
    margin: 10px 0;
  }

  @media only screen and (max-width: 600px) {
    form {
      width: 90%;
    }

    .container-fluid {
      width: 90%;
      display: flex;
    }

    .titulo {
      margin: 10px 0;
      font-weight: bold;
      text-align: center;
    }
  }
</style>
<section class="main">
  <div class="container-fluid">
    <h1 class="titulo">
      Você é um verdadeiro fã de futebol brasileiro?<br>

      <span class="subtitle">
        <!--   Então, prove suas habilidades no nosso quiz bet Brasileirão! <br> Faça suas escolhas com sabedoria, acumule pontos
      e concorra a prêmios incríveis. É hora de mostrar seu conhecimento e ganhar como um verdadeiro campeão! -->
    </h1>
    </span>

  </div>


  <form method="POST" action="{{ url_for('main.quiz') }}">
    {{ form.csrf_token }}

    <div class="question">
      <div class="option">
        {{ form.answer1.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/palmeiras.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/cuiaba.png') }}" width="80" height="80">
        </div>
        {{ form.answer1 }}
      </div>
    </div>

    <div class="question">
      <div class="option">
        {{ form.answer2.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/america.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/fluminense.png') }}" width="80" height="80">
        </div>
        {{ form.answer2 }}
      </div>
    </div>

    <div class="question">
      <div class="option">
        {{ form.answer3.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/botafogo.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/sao_paulo.png') }}" width="80" height="80">

        </div>
        {{ form.answer3 }}
      </div>

    </div>

    <div class="question">
      <div class="option">
        {{ form.answer4.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/bragantino.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/bahia.png') }}" width="80" height="80">

        </div>
        {{ form.answer4 }}
      </div>
    </div>


    <div class="question">
      <div class="option">
        {{ form.answer5.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/Athletico-PR.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/goias.png') }}" width="80" height="80">
        </div>
        {{ form.answer5 }}
      </div>
    </div>


    <div class="question">
      <div class="option">
        {{ form.answer6.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/fortaleza.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/inter.png') }}" width="80" height="80">
        </div>
        {{ form.answer6 }}
      </div>
    </div>

    <div class="question">
      <div class="option">
        {{ form.answer7.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/atletico-mineiro.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/vasco.png') }}" width="80" height="80">
        </div>
        {{ form.answer7 }}
      </div>
    </div>

    <div class="question">
      <div class="option">
        {{ form.answer8.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/corinthians.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/cruzeiro.png') }}" width="80" height="80">
        </div>
        {{ form.answer8 }}
      </div>
    </div>

    <div class="question">
      <div class="option">
        {{ form.answer9.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/flamengo.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/coritiba.png') }}" width="80" height="80">
        </div>
        {{ form.answer9 }}
      </div>
    </div>

    <div class="question">
      <div class="option">
        {{ form.answer10.label }}
        <br>
        <div class="icones">
          <img src="{{ url_for('static', filename='/images/gremio.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/empate.png') }}" width="80" height="80">
          <img src="{{ url_for('static', filename='/images/santos.png') }}" width="80" height="80">
        </div>
        {{ form.answer10 }}
      </div>
    </div>


    <div class="bt-submit">
      <button type="submit">Enviar respostas</button>
    </div>
  </form>
</section>
{% endblock %}