


<!--Bem-vindos ao Bet Brasileirão Template -  base 23/04/2023  -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
   <title> {% if title %}{{ title }} - Bet Brasileirão{% else %}{{ _('Bem-vindos ao Bet Brasileirão') }}{% endif %}</title>
    {% endblock %}
  
    <!-- <meta name="description" content="Quiz Bet Brasileirão"> -->
    <meta name="keywords" content="template flask, renda extra online, apostas esportivas, ">
    <meta name="author" content="Faguiro">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />    
    
    <!-- Outros estilos CSS padrão que você deseja incluir -->    
    {% block extra_css %}  {% endblock %}

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Favicons -->
    <link rel="icon" type="image/ico" sizes="32x32" href="/static/images/favico/favicon-32x32.ico">
    <link rel="icon" type="image/ico" sizes="16x16" href="/static/images/favicon/favicon-16x16.ico">
    <!-- Google Fonts 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nome+da+Fonte:wght@400;700&display=swap" rel="stylesheet">
    -->
</head>

<body>
   
   
    <!-- Inclui o template de navegação de acordo com o tamanho da tela -->
    {% if mobile %}
    {% include 'nav_mobile.html' %}
    {% else %}
    {% include 'nav_desk.html' %}
    {% endif %}

    <!-- Conteúdo do site -->
    {% block content %}

    {% endblock %}

    {%  block painel_lateral %}
    {% include 'painel-lateral.html' %}
    {% endblock %}
    
    



    <!-- Rodapé do site -->
    {% include 'footer.html' %} 

    <!-- Scripts específicos da página que podem depender de elementos HTML da página --> 
    {% block extra_js %}{% endblock %}

 
</body>


</html>