{% extends "base.html" %}

{% block extra_css %}
<title>Página de Pagamentos</title>
<link rel="stylesheet" href="{{ url_for('static', filename='comprar_creditos.css') }}">
{% endblock %}


{% block content %}

<body class="bg-gray-900  text-white dark:bg-gray-800 dark:text-gray-100">
    <div class="container min-h-[90vh]">
        {% for metodo in metodos_pagamento %}
        <div class="metodo">
            <img src="{{ url_for('static', filename='images/cards/' + metodo.imagem) }}" alt="{{ metodo.nome }}">
            <h2>{{ metodo.nome }}</h2>
        </div>
        {% endfor %}
    </div>


    <script>

        // Captura os elementos com a classe .metodo
        const metodosPagamento = document.querySelectorAll('.metodo');

        // Adiciona o evento de clique a cada elemento .metodo
        metodosPagamento.forEach(metodo => {
            metodo.addEventListener('click', () => {
                // Obtém o nome do método de pagamento clicado
                const nomeMetodo = metodo.querySelector('h2').innerText;

                // Transforma o nome do método de pagamento em minúsculas e substitui espaços por underscores
                const nomeMetodoFormatado = nomeMetodo.toLowerCase().replace(/\s+/g, '_');

                // Redireciona o usuário para a página do método de pagamento escolhido
                window.location.href = `pagamento/${nomeMetodoFormatado}`;
            });
        });

    </script>
</body>
{% endblock %}