<footer class="bg-gray-900 text-white py-5 mb-12 border-t-2 border-solid border-orange-500  bottom-0 w-full">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="mb-4 md:mb-0">
                <h3 class="text-lg font-semibold">Sobre Nós</h3>
                <p class="mt-2">Somos uma empresa dedicada a fornecer soluções de qualidade para nossos clientes.</p>
            </div>
            <div class="mb-4 md:mb-0">
                <h3 class="text-lg font-semibold">Links Úteis</h3>
                <ul class="mt-2">
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Página Inicial</a>
                    </li>
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Sobre Nós</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Produtos</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Contato</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg font-semibold">Contato</h3>
                <ul class="mt-2">
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Telefone: (21)
                            99546-9722</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">E-mail:
                            fabiano.dev.py@gmail.com</a></li>
                    <li><a href="http://faguiro.vps-kinghost.net/"
                            class="text-gray-400 hover:text-white transition duration-300">Agência:Tech Agency</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center bg-orange-500 text-black w-full fixed bottom-0">
        <p>&copy;<a href="https://www.linkedin.com/in/faguiro/">Fabiano 2023</a> ❤️ Todos os direitos reservados.<a
                href="https://snakeproject.pythonanywhere.com/">🐍Snake Project</a></p>
        <!-- <p>Você está usando o tema {{ theme }}.</p> -->
    </div>

</footer>