{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<script src="https://cdn.tailwindcss.com"></script>


<body class="bg-gray-900 text-white dark:bg-gray-800 dark:text-gray-100 mt-50">
    <!-- Conteúdo da sua página -->
    <h1
        class="text-4xl font-bold tracking-wider text-center my-8 text-gray-200 dark:text-gray-100 transform hover:scale-10 ">
        {{ _('Olá, %(username)s!', username=current_user.username) }}
    </h1>

    <div class="flex justify-center my-8 ">
        <div class="w-1/2 bg-white dark:bg-gray-700 shadow-md rounded-md p-8">
            {% include 'cards_3d.html' %}
        </div>
    </div>


    <!--   {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %} -->
</body>

{% endblock %}