{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<body class="bg-gray-900 text-white dark:bg-gray-800 static dark:text-gray-100 mt-50">
    <!-- Conteúdo da sua página -->
    <h1 class="text-4xl font-bold tracking-wider text-center my-8 text-gray-200 dark:text-gray-100 transform hover:scale-10 ">
        {{ _('Olá, %(username)s!', username=current_user.username) }}
    </h1>

    <div class="flex flex-wrap justify-center my-8">
        {% for i in range(6) %}
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 px-4 mb-8">
            {% include 'cards_3d.html' %}
        </div>
        {% endfor %}
    </div>

    <!--   {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %} -->
    
</body>
{% endblock %}
