{% extends 'base.html' %}

{% block content %}
  <h1>Realizar Pagamento</h1>
  <form method="post">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.card_number.label }}
      {{ form.card_number(size=20, class_='form-control', placeholder='Número do cartão') }}
      {% for error in form.card_number.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        {{ form.exp_month.label }}
        {{ form.exp_month(class_='form-control', placeholder='Mês de expiração') }}
        {% for error in form.exp_month.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group col-md-4">
        {{ form.exp_year.label }}
        {{ form.exp_year(class_='form-control', placeholder='Ano de expiração') }}
        {% for error in form.exp_year.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group col-md-4">
        {{ form.cvc.label }}
        {{ form.cvc(class_='form-control', placeholder='CVC') }}
        {% for error in form.cvc.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group">
      {{ form.amount.label }}
      {{ form.amount(class_='form-control', placeholder='Valor do pagamento') }}
      {% for error in form.amount.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class_='form-control', placeholder='E-mail') }}
      {% for error in form.email.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Pagar</button>
  </form>
{% endblock %}
