<!-- Botão para abrir/fechar o painel lateral -->
<button id="btnToggleSidebar" class="fixed top-0 left-0 z-20 bg-gray-900 text-white ">
    <!-- Ícone para abrir/fechar o painel lateral -->
    <svg class="w- h-10 fill-current" viewBox="0 0 24 24">
        <path v-if="sidebarOpen" fill-rule="evenodd" clip-rule="evenodd"
            d="M3.414 20L20.586 3.756a.75.75 0 00-1.054-1.068L2.24 18.945a1.75 1.75 0 000 2.11l17.293-17.289a.75.75 0 10-1.068-1.054L3.414 20z" />
        <path v-else fill-rule="evenodd" clip-rule="evenodd"
            d="M3.46 3.765A.75.75 0 014.515 2l16.232 15.251a1.75 1.75 0 010 2.108L4.515 22a.75.75 0 11-1.054-1.062L17.638 17L3.46 3.765z" />
    </svg>
</button>

<!-- Painel lateral -->
<div id="sidebar"
    class="bg-orange-500 text-white max-w-max h-full fixed top-5 mt-8 left-0 z-10 transition-all duration-300">
    <!-- Conteúdo do painel lateral -->
    {% include 'cards_3d.html' %}
</div>

<style>
    /* Estilos para o painel lateral */
    #sidebar {
        transform: translateX(-300px);
    }

    #sidebar.open {
        transform: translateX(0px);
    }

    /* Estilos para o botão de abrir/fechar o painel lateral */
    #btnToggleSidebar {
        transition: transform 300ms;
    }

    #btnToggleSidebar:hover {
        transform: scale(1.1);
    }
</style>

<script>
    // Função para abrir/fechar o painel lateral
    function toggleSidebar() {
        var sidebar = document.getElementById('sidebar');
        var btnToggleSidebar = document.getElementById('btnToggleSidebar');
        sidebar.classList.toggle('open');
        btnToggleSidebar.classList.toggle('rotate-180');
    }

    // Adiciona um evento de clique para o botão que irá abrir/fechar o painel lateral
    document.getElementById('btnToggleSidebar').addEventListener('click', toggleSidebar);

</script>