{% extends "base.html" %}

{% block title %}<title>Stripe e Flask Demo</title>{% endblock %}

	<!-- Outros estilos CSS padrão que você deseja incluir -->
  {% block extra_css %}
 
  {% endblock %}
	
{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  h1 {
    background-color: #ff8c00;
    color: #ffffff;
    padding: 20px;
    margin: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
  }
  table th {
    padding: 10px;
    background-color: rgba(12, 13, 19, 0.8);
    color: #ffffff;
    text-align: left;
  }
  table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  table td:last-child {
    text-align: center;
  }
  form {
    display: inline;
  }
  form input[type="submit"] {
    background-color: #ff8c00;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  form input[type="submit"]:hover {
    background-color: #ffa533;
  }
  div#bet--nav {
    display:none;
}
</style>
  <body>
    <h1>Integração Stripe e Flask Demo</h1>
    <table>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Pedido</th>
      </tr>

      <tr>
        <td>Todas as rodadas do Brasileirão</td>
        <td>50.00 R$</td>
        <td>
          <form method="POST" action="/stripe_pagamento/full">
            <input type="submit" value="Comprar">
          </form>
        </td>
      </tr>

      <tr>
        <td>Rodadas avulsas do Brasileirão</td>
        <td>5.00 R$ por rodada</td>
        <td>
          <form method="POST" action="/stripe_pagamento/unidade">
            <input type="submit" value="Comprar">
          </form>
        </td>
      </tr>
    </table>
  </body> 
  {% endblock %}


