   
    <!-- START THE FEATURETTES -->
<style>
    .row.featurette {
    margin: 0 2%;
}
    </style>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <table class="table table-hover">
            <tr>            
                <td width="70px">
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {% if post.author.avatar(70)  %}
                        {% if current_user.profile_photo %}
                        <img src="{{ url_for('main.show_user_image', username=current_user.username) }}" type="image/png">
                        {% else %}
                        <img src="{{ current_user.avatar(70) }}">
                        {% endif %}           
                    
                    {% endif %}
                </a>
                </td>
                <td>
                    {% set user_link %}
                        <a href="{{ url_for('main.user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    {% endset %}
    
                    {{ _('%(username)s Publicou: %(when)s',
                        username=user_link, when=moment(post.timestamp).fromNow()) }}
                    <br>
                               
                </td>
            </tr>
        </table>
        <h2 class="">{{ post.title }}<span class="text-body-secondary"></span></h2>
            <span id="post{{ post.id }}">{{ post.body }}</span>
            {% if post.language and post.language != g.locale %}
            
            <br><br>
            {% endif %}
      </div>
      <div class="col-md-5">
        <style>
            img.bd-placeholder-img.post {
                width: 100%;
            }</style>
        <img class="bd-placeholder-img post" src="{{ url_for('main.show_post_image', post_id=post.id) }}" type="image/png">
      </div>
    </div>

   
