{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<style>
  button.submit {
    padding: 6px 43px;
    border-radius: 8px;
    background: orange;
    color: black;
    font-weight: 600;
    transition: all 0.5s ease-out;
  }

  button.submit:hover {
    background: black;
    color: orange;
    transform: scale(1.2);
    transition: all 0.5s ease-out;
  }
</style>
<!-- Adicione a classe 'dark' ao body para ativar o tema escuro -->

<body class="bg-gray-900 text-white dark:bg-gray-800 dark:text-gray-100">
  <h1
    class="text-4xl font-bold tracking-wider text-center my-8 text-gray-200 dark:text-gray-100 transform hover:scale-10 ">
    {{ _('Criar Conta') }}</h1>
  <div class="flex justify-center my-12">
    <div class="w-1/2 bg-white dark:bg-gray-700 shadow-md rounded-md p-8">
      <form  method="POST">
        {{ form.csrf_token }}
        <div class="mb-4">
          <label for="{{ form.username.id }}" class="block text-orange-500 text-sm font-bold mb-2">Nome de
            usuário</label>
          {{ form.username(class="w-full px-4 py-2 text-black rounded-md focus:outline-none focus:ring focus:border-blue-500
          appearance-none", placeholder="Nome de usuário") }}
        </div>
        <div class="mb-4">
          <label for="{{ form.username.id }}" class="block text-orange-500 text-sm font-bold mb-2">Seu e-mail</label>
          {{ form.email(class="w-full px-4 py-2 text-black rounded-md focus:outline-none focus:ring focus:border-blue-500
          appearance-none", placeholder="email") }}
        </div>
        <div class="mb-4">
          <label for="{{ form.password.id }}" class="block text-orange-500 text-sm font-bold mb-2">Digite uma senha</label>
          {{ form.password(class="w-full px-4 py-2 rounded-md  text-black focus:outline-none focus:ring focus:border-blue-500
          appearance-none", placeholder="Senha") }}
        </div>
        <div class="mb-4">
          <label for="{{ form.password.id }}" class="block text-orange-500 text-sm font-bold mb-2">Repita a senha</label>
          {{ form.password2(class="w-full px-4 py-2 rounded-md  text-black focus:outline-none focus:ring focus:border-blue-500
          appearance-none", placeholder="Repita a senha") }}
        </div>

        <div class="mb-4">
          <label for="{{ form.theme.id }}" class="block text-orange-500 text-sm font-bold mb-2">Tema</label>
          {{ form.theme(class="w-full px-4 py-2 rounded-md  text-black focus:outline-none focus:ring focus:border-blue-500
          appearance-none") }}
        </div>
        
        <button type="submit" class="submit">Enviar</button>
      </form>

      <div class="mt-4">
        <p>{{ _('Já tem uma conta?') }}
          <a class="text-orange-500 hover:font-semibold hover:text-orange-500" href="{{ url_for('auth.register') }}">{{
            _('Entrar!') }}</a>
        </p>
        <p>
          {{ _('Esqueceu sua senha?') }}
          <a class="text-orange-500 hover:font-semibold hover:text-orange-500"
            href="{{ url_for('auth.reset_password_request') }}">{{ _('Clique para redefini-la') }}</a>
        </p>
      </div>
    </div>
  </div>


  {% block painel_lateral %}

  {% endblock %}
</body>
{% endblock %}