{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vapor.css') }}">
{% endblock %}

{% block content %}


  <img src="https://picsum.photos/1200/200" class="card-img-top" alt="...">
  <div class="card-body principal  mt-4 ">

    <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">

      <div class="card-header"></div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <fieldset>
            <div class="mb-3">
              {{ form.username.label(class="form-label text-orange-500 fw-bold mb-2") }}
              {{ form.username(class="form-control") }}
              {% if form.username.errors %}
              <ul class="errors">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{ form.username.id }}" class="form-label mt-4">Email address</label>
              {{ form.email(class="form-control", placeholder="email") }}
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <label for="{{ form.password.id }}" class="form-label mt-4">Digite uma
                senha</label>
              {{ form.password(class="form-control", placeholder="Senha") }}
            </div>
            <div class="form-group">
              <label for="{{ form.password.id }}" class="form-label mt-4">Repita a
                senha</label>
              {{ form.password2(class="form-control", placeholder="Repita a senha") }}
            </div>
           
              <div class="form-group">
                <label for="{{ form.theme.id }}" class="form-label mt-4">Selecione um tema</label>
                {{ form.theme(class="form-control") }}
              </div>
            </fieldset>
            <div class="form-group">
             
              {{ form.submit(class="btn btn-warning  mt-4") }}

            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Estilos</div>
        <div class="card-body">
          <h4 class="card-title">Tema</h4>
          <p class="card-text">
            Voce está usando o tema
            <span class="badge bg-primary">

            </span>.
          </p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Finanças</div>
        <div class="card-body">
          <h4 class="card-title">Saldo</h4>
          <p class="card-text">Voce possui
            <span class="badge bg-primary">

            </span>
            de saldo em sua conta.
          </p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
      </div>

    </div>

  </div>
</div>



{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
<!-- <nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav> -->
{% endblock %}